* {
  padding: 0px;
  margin: 0px;
}
.contenedor {
  background-color: rgb(31, 42, 58);
  height: 100%;
}
input {
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}
h3 {
  color: rgb(255, 135, 36);
  text-transform: uppercase;
}
.card {
  width: 250px;
  height: auto;
  border: none;
  margin: 10px;
}
.card-body {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.card-body p {
  /* padding: 5px; */
  color: rgb(13, 21, 34);
  font-weight: 500;
  margin-bottom: 0px;
}
.card img {
  width: 100%;
  height: 200px;
}
